body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(244, 244, 244); */
  }

nav {
    position: fixed;
    background-color: rgb(123, 169, 255);
    top: 0;
    margin-left: -8px;
    margin-bottom: 40px;
    padding: 13px 0 13px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
}

nav a {
    color: rgb(54, 0, 54);
    text-decoration: none;
    padding: 14px 10px 13px 10px;
    margin-right: 5px;
    margin-left: 5px;
}

nav a:hover {
    background: #f2f2f2;
    color: black;
}

#nav-logo {
    flex-basis: 45%;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    position: relative;
    /* top: 2px; */
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

h4 {

}

section {
    /* padding-right: 3vw;
    padding-left: 3vw; */
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
}

h2 {
    text-align: center;
}

h1 {
    font-family: monaco;
    font-size: 44px;
}

#video-related {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#video-text {
    flex-basis: 560px;
    text-align: justify;
    margin-top: -3px;
    font-size: 17px;
    color: rgb(45, 45, 45);
}

#video {
    margin-bottom: 30px;
}

.guava-content p {
    --padding-size: 13vw;
    padding: 0 var(--padding-size) 30px var(--padding-size);
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#header-img{
    width: 100px;
    height: auto;
}

#heading {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(72, 72, 72);
}

#email-section {
    flex-basis: 100%;
}

#our-story {
    margin-top: 0;
    background-color: hsl(60, 100%, 84%);
    flex-basis: 100%;
}

#about-us {
    background-color: lightpink;
    flex-basis: 49%;
}

#why-we-do-it {
    background-color: lightgreen;
    flex-basis: 49%;
}

#contact-us {
    text-align: center;
    padding: 20px 20px 80px 20px;
    border-style: solid;
    background-color: lightblue;
}

#contact-explanation {
    /* width: 480px; */
    margin: auto; 
    text-align: justify;
    padding-top: 27px;
    /* By assigning auto to the left and right margins of an element, they take up the available horizontal space in the element's container equally – and thus the element gets centered. */
}

form {
    margin: auto;
    max-width: 480px;
}

textarea {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 96%; /* adding padding makes box increase to the right*/
    padding: 10px;
    border: none;
    border-width: 2px;
    box-shadow: none;
    box-shadow: 3.5px 3.5px rgba(0, 0, 0, 0.098);
    font-family: 'Courier New', Courier, monospace;;
}

#contact-us div {
    display: flex;
    height: 25px;
}

input[type="email"] {
    flex-basis: 100%;
    box-shadow: none;
    border: none;
    border-bottom-left-radius: 10px;
    font-size: 15px;
    font-family: Courier, monospace;
    padding-left: 10px;
}

#submit {
    border: none;
    border-bottom-right-radius: 10px;
    background-color: rgb(147, 151, 214);
    font-family: 'Monaco', Courier, monospace;
    font-size: 14px;
    text-transform: uppercase;
}

@media only screen and (max-width: 935px) {

    #nav-logo {
        display: none;
    }

    .guava-content p {
        padding-left: 30px;
        padding-right: 30px;
    }

    section {
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 700px) {

    #video-text {
        text-align: left;
    }

    #container {
        flex-direction: column;
    }

    #contact-explanation {
        width: auto;
    }

    textarea {
        width: 94%;
    }
}

@media only screen and (max-width: 510px) {
    nav a {
        padding: 18px 8px 14px 8px;
        margin-right: 0px;
        margin-left: 0px;
        font-size: min(3.8vw, 16px);
    }
}